<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <title>默白教授官方网站</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This website is used for the famous drawer Mr Jianhua Ma work show and sale his art work">
    <meta name="author" content="Mr Xiaoyu Ma">

    <!--<link href="http://majianhua.sinaapp.com/assets/css/bootstrap.css" rel="stylesheet">-->
    <!--<link href="http://majianhua.sinaapp.com/assets/css/bootstrap-responsive.css" rel="stylesheet">-->
    <link href="http://lib.sinaapp.com/js/bootstrap/2.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://lib.sinaapp.com/js/bootstrap/2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet">
    <!-- my css define -->
    <link href="http://majianhua.sinaapp.com/assets/css/standardstyle.css" rel="stylesheet">
    <!-- css define end -->
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.js"></script>
    <![endif]-->
    <!--
    <link rel="shortcut icon" href="assets/ico/favicon.png">-->

</head>
<body>

<!-- NAVBAR -->
<div class="navbar-wrapper">
    <!-- Warp the .navbar in .container to center it within the absolutely positioned parent. -->
    <div class="container">
        <div class="navbar navbar-inverse">
            <div class="navbar-inner">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <!-- for the small white bar -->
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="#">Jianhua Ma 马建华</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="active">
                            <a href="#">Index 首  页</a>
                        </li>
                        <li>
                            <a href="#introduction-articlst">Introduction 简  介</a>
                        </li>
                        <li>
                            <a href="#contactinformation">Contact 联系方式</a>
                        </li>
                        <li>
                            <a href="picshow">Exhibition 作品展示</a>
                        </li>

                        <li>
                            <a href="#copyrightinfomodal" data-toggle="modal">Copyright 版权声明</a>
                        </li>
                        <!--<li>-->
                            <!--<a href="http://majianhua.sinaapp.com/">高速访问入口</a>-->
                        <!--</li>-->

                    </ul>
                </div>
                <!-- /.nav-collapse -->
            </div>
            <!-- /.navbar-inner -->
        </div>
        <!-- /.navbar -->
    </div>
    <!-- /.container -->
</div>
<!-- /.navbar-wrapper -->
<!-- ================================================= -->


<!-- Carousel -->
<div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
        <!---->
        <div class="item active">
            <img src="http://majianhua.sinaapp.com/assets/img/artist/carousel-head.jpg">
            <div class="container">
                <div class="carousel-caption">
                    <h1></h1>
                    <p class="lead">13年前。。。</p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="http://majianhua.sinaapp.com/assets/img/artist/carousel-picwork.jpg">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Water lily 荷花图</h1>
                    <p class="lead">16 sf 平方尺 <br/>
                    26,000RMB per sf</p>
                </div>
            </div>
        </div>
        <!---->
        <div class="item">
            <img src="http://majianhua.sinaapp.com/assets/img/artist/carousel-procelainwork.jpg">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Orchid procelain 兰花瓷</h1>
                    <p class="lead">5.6 sf 尺<br/>
                    56,000 RMB per sf</p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">></a>
</div>
<!-- ================================================= -->


<!-- warp the rest of the document in another container to center all the content. -->
<div class="container marketing" id="workshow">
    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="span4">
            <img class="img-circle" src="http://majianhua.sinaapp.com/assets/img/artist/141.jpg">
            <h2>Comments And Articles 名家点评与文章</h2>
            <p></p>
            <p><a class="btn" href="picshow.html#comments">View details 详细 &raquo;</a></p>
        </div>

        <div class="span4">
            <img class="img-circle" src="http://majianhua.sinaapp.com/assets/img/artist/142.jpg">
            <h2>Art Of Painting Showing 绘画作品</h2>
            <p></p>
            <p><a class="btn" href="picshow.html#drawwork">View details 详细 &raquo;</a></p>
        </div>

        <div class="span4">
            <img class="img-circle" src="http://majianhua.sinaapp.com/assets/img/artist/143.jpg">
            <h2>Coloured drawing porcelain 瓷  艺</h2>
            <p></p>
            <p><a class="btn" href="picshow.html#porcelainwork">View details 详细 &raquo;</a></p>
        </div>
    </div>
    <!-- /.row -->

    <!-- start the features -->
    <hr class="featurette-divider" id="introduction-articlst">
    <div class="featurette">
        <img class="img-polaroid featurette-image pull-left artistpic" src="http://majianhua.sinaapp.com/assets/img/artist/featuree-artist.jpg" alt="画家早年与外国学生合影">
        <h2 class="featurette-heading">
            Biography
            <span class="muted">简介</span>
        </h2>
        <p class="lead">马建华，字默白，以字行世，雅号马兰花，1957年6月生，济南人。1982年毕业于中央美院，2001年中国美协首届中国画高研班结业。现为：中国美协会员、中国兰草艺术研究院院长、山东大学艺术顾问等。早年受高振方、隋进文指教，后得海内名家周怀民、潘公凯、孙轶青、张立辰、郭怡踪、霍春阳、郭石夫等数十位当代大师亲授，作品清新靓丽，格调高雅，以全新的兰草艺术面貌，独步于当代画坛，有“兰已出青”之誉，他的主要贡献为：纠正了《芥子园画谱》关于画兰的错误，解决了兰叶穿插的空间概念，创造性的发展了兰草艺术新画法，为当代实力派画家；近几年着重于大花鸟的探索，气势宏伟壮观，生活气息浓郁，多有巨幅创作成功，颇受市场欢迎；2005年，被授予中国书画市场最具收藏价值艺术家称号。2009年,荣获共和国杰出艺术家称号,作品多被中直机关，各部委，海军司令部及国内外知名人士收藏，各种报刊杂志发表作品百余幅。 摘自人民美术出版社《中国画》第22辑102页 </p>
    </div>

    <hr class="featurette-divider">
    <div class="featurette">
        <img class="img-polaroid featurette-image pull-right shucepic" src="http://majianhua.sinaapp.com/assets/img/artist/featuree-teacher.jpg">
        <h2 class="featurette-heading">
            Art Profile
            <span class="muted">艺术历程</span>
        </h2>
        <p class="lead">1997年 4月26日，在中南海陪同原全国人大副委员长铁木尔·达瓦买提，原文化部部长马少波作画，中央电视台《新闻联播》曾做报道。<br/>
1997年 8月15日，内蒙古美术馆入选《全国民族团结杯邀请展》。<br/>
1999年 9月 6日，中国美术馆入选《中国文联建国五十周年书画展》。<br/>
1999年11月 9日，山东美术馆入选《山东省民族宗教界书画展》，作品《胜似春光》被山东省佛教协会收藏。<br/>
2000年 4月28日，山东国际俱乐部《庆五一山东九州书画院成立书画展》。<br/>
2000年 5月18日，李苦禅纪念馆举办首届个人画展。<br/>
2001年 ，《精品兰花》被中南海收藏。<br/>
2002年11月 2日，济南军区展览馆入选《喜迎十六大齐鲁名家书画展》。<br/>
2002年12月16日，山东博物馆入选《山东美协首届双年展》。<br/>
2003年 2月 1日，剑门书画展举办第二届个人书画展。<br/>
2004年 5月 1日，济南奇石馆举办第一届妙墨兰花画展。<br/>
2005年被授予中国书画市场最具收藏价值艺术家。<br/>
2008年在民政部抗震救灾义卖中，八尺精品《杜鹃飞燕》以58万人民币高价拍出，副部长赵蓬奇给予高度评价，并上台亲自接受捐赠。<br/>
2008年《财富与收藏》12期隆重推荐封面人物。<br/>
2009年人民美术出版社《中国画》第22期P.102重点介绍马兰花。<br/>
2009年 荣获共和国杰出艺术家称号。<br/>
        山东省非官方涉外国画教学第一人</p>
    </div>

    <hr class="featurette-divider">
    <div class="featurette" id="contactinformation">
        
        <img class="img-polaroid featurette-image pull-left weixincontactimg" src="http://majianhua.sinaapp.com/assets/img/contact/weixin.JPG">
        
        <h2 class="featurette-heading">
            "微信扫一扫"
            <span class="muted">简单快捷</span>
        </h2>
        <p class="lead">电子邮件<a href="mailto:1423032509@qq.com" >qq邮箱：1423032509@qq.com</a> 移动电话：<a href="callto:+8613969082873" accesskey="">(0086)-13969082873</a> 座机和传真：<a href="callto:053166953657" >0531-66953657</a></p>
    </div>

    <hr class="featurette-divider">

    <!-- Footer -->
    <footer>
        <p class="pull-right">
            <a href="#">回到顶部</a>
        </p>
        <p>
            @ 2013 马建华，墨白，兰花艺术网, Inc  ,

        </p>
    </footer>

</div>


<div class="modal hide fade" id="copyrightinfomodal">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">x</button>
        <h3>COPYRIGHT 版权声明</h3>
    </div>
    <div class="modal-body">
        <p>本网站所有作品内容版权均属于马老师，任何人，单位不得在未经允许的情况下使用作品于任何场景和用途，如想使用，必须先通过马老师的许可，可以通过<a href="index.html#contactinformation"> 微信，电话或者邮件</a>联系马老师。如发现有非法使用的情况，将立即采取法律措施。
        </p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close 关闭</a>
    </div>
</div>
<!-- ================================================= -->
<!-- Le javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="assets/js/jquery.js"></script>
<!-- bootstrap -->
<!--
<script src="assets/js/bootstrap.min.js"></script>-->
<script src="http://majianhua.sinaapp.com/assets/js/bootstrap-transition.js"></script>
<script src="http://majianhua.sinaapp.com/assets/js/bootstrap-alert.js"></script>
<script src="http://majianhua.sinaapp.com/assets/js/bootstrap-modal.js"></script>
<script src="http://majianhua.sinaapp.com/assets/js/bootstrap-dropdown.js"></script>
<script src="http://majianhua.sinaapp.com/assets/js/bootstrap-scrollspy.js"></script>
<script src="http://majianhua.sinaapp.com/assets/js/bootstrap-tab.js"></script>
<script src="http://majianhua.sinaapp.com/assets/js/bootstrap-tooltip.js"></script>
<script src="http://majianhua.sinaapp.com/assets/js/bootstrap-popover.js"></script>
<script src="http://majianhua.sinaapp.com/assets/js/bootstrap-button.js"></script>
<script src="http://majianhua.sinaapp.com/assets/js/bootstrap-collapse.js"></script>
<script src="http://majianhua.sinaapp.com/assets/js/bootstrap-carousel.js"></script>
<script src="http://majianhua.sinaapp.com/assets/js/bootstrap-typeahead.js"></script>

<!-- -->
<script>
    !function ($) {
        $(function(){
            // carousel demo
            $('#myCarousel').carousel()
        })
    }(window.jQuery)

    $("#copyrightinfomodal").modal({show:false});
</script>
<!-- extra script used for the circle img
<script src="assets/js/holder.js"></script>-->
<script type="text/javascript" src="http://tajs.qq.com/stats?sId=24165168" charset="UTF-8"></script>





</body>
</html>

