<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <title>22默白教授官方网站</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This website is used for the famous drawer Mr Jianhua Ma work show and sale his art work">
    <meta name="author" content="Mr Xiaoyu Ma">

    <link href="http://lib.sinaapp.com/js/bootstrap/2.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://lib.sinaapp.com/js/bootstrap/2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet">
    <!-- my css define -->
    <link href="http://majianhua.sinaapp.com/assets/css/pichsowstyle.css" rel="stylesheet">
    <!-- css define end -->
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://majianhua.sinaapp.com/assets/js/html5shiv.js"></script>
    <![endif]-->
    <!--
    <link rel="shortcut icon" href="assets/ico/favicon.png">-->
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">Jianhua Ma 马建华</a>
            <div class="nav-collapse collapse">
                <p class="navbar-text pull-right">

                </p>
                <ul class="nav">
                    <li class="active">
                        <a href="index.html#">Index 首  页</a>
                    </li>
                    <li>
                        <a href="index.html#introduction-articlst">Introduction 简  介</a>
                    </li>
                    <li>
                        <a href="index.html#contactinformation">Contact 联系方式</a>
                    </li>
                    <li>
                        <a href="picshow">Exhibition 作品展示</a>
                    </li>

                    <li>
                        <a href="#copyrightinfomodal" data-toggle="modal">Copyright 版权声明</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>


<!-- ================================================= -->

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">Exhibition 展示</li>
                    <li >
                        <a href="#drawwork">Art Of Painting Showing 绘画作品</a>
                    </li>
                    <li>
                        <a href="#porcelainwork">Coloured drawing porcelain 瓷  艺</a>
                    </li>

                    <li class="nav-header">2010年 - 2014年 润格表</li>
                    <li >
                        <a href="#">2010年       22000RMB/平方尺</a>
                    </li>
                    <li>
                        <a href="#">2011年       24000RMB/平方尺</a>
                    </li>
                    <li>
                        <a href="#">2012年       26000RMB/平方尺</a>
                    </li>
                    <li>
                        <a href="#">2013年       28000RMB/平方尺</a>
                    </li>
                    <li>
                        <a href="#">2014年       30000RMB/平方尺</a>
                    </li>

                </ul>
            </div>
        </div>

        <div class="span9">

            <hr id="drawwork">
            <div class="row-fluid">
                <div class="span4">
                    <div class="imgcontainer">
                        <img class="img-polaroid featurette-image" src="http://majianhua.sinaapp.com/assets/img/drawwork/drawshow1.jpg">
                    </div>
                    <h2>精品兰花</h2>
                    <p>尺寸 68 × 45 <br/>此作品2001年被中南海管理局收藏</p>
                    <p>
                        <a class="modal-btn btn" href="#buyinfomodal" data-toggle="modal">Purchase 购买 &raquo;</a>
                    </p>
                </div>
                <div class="span4">
                    <div class="imgcontainer">
                        <img class="img-polaroid featurette-image" src="http://majianhua.sinaapp.com/assets/img/drawwork/drawshow2.jpg">
                    </div>
                    <h2>四君子</h2>
                    <p>尺寸 34 × 106 × 4</p>
                    <p>
                        <a class="modal-btn btn" href="#buyinfomodal" data-toggle="modal">Purchase 购买 &raquo;</a>
                    </p>
                </div>
                <div class="span4">
                    <div class="imgcontainer">
                        <img class="img-polaroid featurette-image" src="http://majianhua.sinaapp.com/assets/img/drawwork/drawshow3.jpg">
                    </div>
                    <h2>一往情深</h2>
                    <p>尺寸 52 × 100</p>
                    <p>
                        <a class="modal-btn btn" href="#buyinfomodal" data-toggle="modal">Purchase 购买 &raquo;</a>
                    </p>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span4">
                    <div class="imgcontainer">
                        <img class="img-polaroid featurette-image" src="http://majianhua.sinaapp.com/assets/img/drawwork/drawshow4.jpg">
                    </div>
                    <h2>紫气东来</h2>
                    <p>尺寸 68 × 68</p>
                    <p>
                        <a class="modal-btn btn" href="#buyinfomodal" data-toggle="modal">Purchase 购买 &raquo;</a>
                    </p>
                </div>
                <div class="span4">
                    <div class="imgcontainer">
                        <img class="img-polaroid featurette-image" src="http://majianhua.sinaapp.com/assets/img/drawwork/drawshow5.jpg">
                    </div>
                    <h2>依恋</h2>
                    <p>尺寸 68 × 68</p>
                    <p>
                        <a class="modal-btn btn" href="#buyinfomodal" data-toggle="modal">Purchase 购买 &raquo;</a>
                    </p>
                </div>
                <div class="span4">
                    <div class="imgcontainer">
                        <img class="img-polaroid featurette-image" src="http://majianhua.sinaapp.com/assets/img/drawwork/drawshow7.jpg">
                    </div>
                    <h2>跳舞兰</h2>
                    <p>尺寸 45 × 68</p>
                    <p>
                        <a class="modal-btn btn" href="#buyinfomodal" data-toggle="modal">Purchase 购买 &raquo;</a>
                    </p>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span4">
                    <div class="imgcontainer">
                        <img class="img-polaroid featurette-image" src="http://majianhua.sinaapp.com/assets/img/drawwork/drawshow8.jpg">
                    </div>
                    <h2>女神之足</h2>
                    <p>尺寸 68 × 45</p>
                    <p>
                        <a class="modal-btn btn" href="#buyinfomodal" data-toggle="modal">Purchase 购买 &raquo;</a>
                    </p>
                </div>


            </div>
            <hr id="porcelainwork">

            <div class="row-fluid">
                <div class="span4">
                    <div class="imgcontainer">
                        <img class="img-polaroid featurette-image" src="http://majianhua.sinaapp.com/assets/img/procelainwork/procshow1.jpg">
                    </div>
                    <h2>昌南春色</h2>
                    <p>尺寸 5尺6</p>
                    <p>
                        <a class="modal-btn btn" href="#buyinfomodal" data-toggle="modal">Purchase 购买 &raquo;</a>
                    </p>
                </div>
                <div class="span4">
                    <div class="imgcontainer">
                        <img class="img-polaroid featurette-image" src="http://majianhua.sinaapp.com/assets/img/procelainwork/procshow2.jpg">
                    </div>
                    <h2>春意浓</h2>
                    <p>尺寸 3尺6</p>
                    <p>
                        <a class="modal-btn btn" href="#buyinfomodal" data-toggle="modal">Purchase 购买 &raquo;</a>
                    </p>
                </div>
                <div class="span4">
                    <div class="imgcontainer">
                        <img class="img-polaroid featurette-image" src="http://majianhua.sinaapp.com/assets/img/procelainwork/procshow3.jpg">
                    </div>
                    <h2>四君子</h2>
                    <p>尺寸 2尺6 × 4</p>
                    <p>
                        <a class="modal-btn btn" href="#buyinfomodal" data-toggle="modal">Purchase 购买 &raquo;</a>
                    </p>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span4">
                    <div class="imgcontainer">
                        <img class="img-polaroid featurette-image" src="http://majianhua.sinaapp.com/assets/img/procelainwork/procshow4.jpg">
                    </div>
                    <h2>嘉德利亚</h2>
                    <p>尺寸 2尺6</p>
                    <p>
                        <a class="modal-btn btn" href="#buyinfomodal" data-toggle="modal">Purchase 购买 &raquo;</a>
                    </p>
                </div>
                <div class="span4">
                    <div class="imgcontainer">
                        <img class="img-polaroid featurette-image" src="http://majianhua.sinaapp.com/assets/img/procelainwork/procshow5.jpg">
                    </div>
                    <h2>精品瓷</h2>
                    <p>直径 1尺</p>
                    <p>
                        <a class="modal-btn btn" href="#buyinfomodal" data-toggle="modal">Purchase 购买 &raquo;</a>
                    </p>
                </div>
                <div class="span4">
                    <div class="imgcontainer">
                        <img class="img-polaroid featurette-image" src="http://majianhua.sinaapp.com/assets/img/procelainwork/procshow6.jpg">
                    </div>
                    <h2>精品瓷</h2>
                    <p>尺寸 1尺</p>
                    <p>
                        <a class="modal-btn btn" href="#buyinfomodal" data-toggle="modal">Purchase 购买 &raquo;</a>
                    </p>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span4">
                    <div class="imgcontainer">
                        <img class="img-polaroid featurette-image" src="http://majianhua.sinaapp.com/assets/img/procelainwork/procshow7.jpg">
                    </div>
                    <h2>精品瓷</h2>
                    <p>尺寸 1尺</p>
                    <p>
                        <a class="modal-btn btn" href="#buyinfomodal" data-toggle="modal">Purchase 购买 &raquo;</a>
                    </p>
                </div>

            </div>

            <hr id="comments">
            <div class="lead">
                <!---->
                <p>
                    刘大为【中国美术家协会主席】：马建华画兰极具特色，构图新颖大方，效果生动自然，笔墨潇洒雄健，题诗格调高雅，功底深厚，一定是下过大功夫，可喜、可贺、可敬！<br/>
                    廖静文【徐悲鸿夫人】：只有在生活中发现美，下苦功把她画出来，并具有时代意义，就应该是学习！马建华画的兰就是现在的例子！值得收藏！<br/>
                    冯远【中国美术家协会副主席】：继承传统，深入生活，坚持不懈，创新发展，是中国画学习的基本规律。祝贺他就是这样成功的！<br/>
                    孙克【中国画艺委会秘书长】：:艺术家要表现自己的情绪，要以作品去申述自己的情感，要以自己的笔墨牵动欣赏者的情怀，。。。。。。他把如此渺小的兰草画成如此壮观的画卷，可以想象的到他有多么广阔的胸怀。。。。。。<br/>
                    刘曦林【中国美术馆副馆长】：马建华受过系统的美学教育，因此在造型上能以真实为基础，又有精湛的水墨技巧，所以他画的兰极具立体感，叶有翻转，花有相背，笔触明快，线条优美，没有扭捏之态，也没有僵硬之感，惟妙惟肖地勾画出兰花那天地精华般的高贵之美以及灵动飘逸的仙境神态，是近几年来花鸟画的一个重大突破，他是个不可多得的艺术奇才！<br/>
                    孙天牧【中国文史馆馆员、著名画家】：建华小友在我父子纪念馆里干了三年，成就斐然，把兰花画到这个境界，不简单！一个老实人干了一件了不起的大事，值得称赞！<br/>
                    李铎【中国书法家协会副主席】：马建华用书法的笔法画兰，有笔意、有诗意、有看头，赏心悦目，令人钦佩！<br/>
                    王镛【中央美术学院教授、博导】：我看了一辈子画没见过这么好的兰草，飘逸流畅而富有节奏感的线条表现，变化优美，耐人寻味，意境清新，已越能品，逸品尤加，画面里体现出他的艺术造诣和推陈出新的探索成果，有机会我们好好谈谈，我写的东西。。。。。。<br/>
                    马少波【文化部副部长】题词：铁钩银画清香溢，健笔凌云展胸怀。
                    施邦华【山东美术馆馆长】：建华面前不画兰。。。。。。<br/>
                    赵蓬奇【民政部副部长】：马建华先生有爱心，积德行善，这是今天捐赠的最大的画、是最好的画、最有意义的画！我代表民政部、四川灾区人民向马建华先生表示衷心的感谢！<br/>
                    郭怡踪【中央美术学院教授、中国画艺委会主任】：中国画有疏密二体，马建华作品走的是疏体，简约疏朗，简洁明快，空灵俊秀，写兰飘逸传神，有八大遗韵，有生活，简单很高明，反映出马建华的人品正直善良，有一家之貌，大花鸟画路也有探索，创作思想很明确。<br/>
                    张立辰【中央美术学院教授、博导、国画系主任】：马建华的作品始终遵循天人合一的思想，结构与用笔结合的非常生动，点线有个性，技法内涵大，精神内涵大，能简能概括，画环境，重写生，善观察，写兰尤见功力，颇具文人画的精神，在人品画品的处理上非常和谐，让人耳目一新。<br/>
                    郭石夫【著名画家、北京画院副院长】：常言道：有风格易，有格调却很难做到，没想到马建华的作品能二者兼顾，水墨兰花尤为显著，笔墨线条很自由，很夸张，很抽象，有内涵，有静气，静中求动，不是每个人都能做到的，这里面有很深刻的人文内涵。<br/>
                    霍春阳【天津美术学院教授、国画系主任】：马建华很聪明，知道"君子务本"之理，作品空灵活泼，新颖传神，内涵丰富，力透纸背，画外的东西很多，为人诚信，画品高尚，有静气，通禅宗，达到人文境界，和天地而同行，正所谓"一静定乾坤"，写兰有"兰已出青"之誉，一花一世界，一叶一如来，后生可畏也！<br/>
                    韩文来【天津美术学院教授】：马建华的作品写的很多，善于抓生活，基本功扎实，写兰得书卷气，重视画外的修养，融汇古今兼中外，独辟蹊径书画情。<br/>
                    贾广健【天津美术学院教授】：马建华最可贵的地方就是作画大气，其写兰叶铿锵有力，节奏强如洪吕大钟，笔如铁铸，是其生活中精神面貌的真实写照。<br/>
                    何宗贵【原山东省人大副主任】题词：蕙兰清香、精神振奋。
                    鹤龄子【山东省九州画院院长】题词：齐鲁独秀、海右奇才。<br/>
                    【张彦青】【山东艺术学院院长】题词：建华写兰别具一格，堪佳。<br/>
                    张建中【黄山画院院长】题词：春风春雨滋春兰<br/>
                    潘渭滨【著名画家江南一枝梅】题词：一石一兰吐奇香。<br/>
                    曹灿【中央人民广播电台著名播音员】题词：妙联珠玑<br/>
                </p>
                <p>
                    <!--
                    <a href="#" class="btn btn-primary btn-large">learn more</a>-->
                </p>
            </div>
        </div>
    </div>

    <hr>
    <footer>
        <p class="pull-right">
            <a href="#">回到顶部</a>
        </p>
        <p>
            @ 2013 马建华，墨白，兰花艺术网, Inc  ,
            <a href="#">Privacy</a>
            ,
            <a href="#">Terms</a>
        </p>
    </footer>
</div>

<!-- ================================================= -->
<!-- new window for modal use
    ================================================== -->

<div class="modal hide fade" id="buyinfomodal">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">x</button>
        <h3>Purchase 购买</h3>
    </div>
    <div class="modal-body">
        <p>因为作品的唯一性，所以想购买可以先通过<a href="index.html#contactinformation"> 微信，电话或者邮件</a>联系马老师提出作品的要求。
        </p>
        <p>付款方式可以汇款，面付现金或者新潮一点通过支付宝付款页面支付，支付页面地址<a target="window" href="https://me.alipay.com/maxiaoyu">请点击</a></p>
        <p>所有作品都用过顺丰快递发出，保证安全和速度</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close 关闭</a>
    </div>
</div>

<div class="modal hide fade" id="copyrightinfomodal">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">x</button>
        <h3>COPYRIGHT 版权声明</h3>
    </div>
    <div class="modal-body">
        <p>本网站所有作品内容版权均属于马老师，任何人，单位不得在未经允许的情况下使用作品于任何场景和用途，如想使用，必须先通过马老师的许可，可以通过<a href="index.html#contactinformation"> 微信，电话或者邮件</a>联系马老师。如发现有非法使用的情况，将立即采取法律措施。
        </p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close 关闭</a>
    </div>
</div>

<!-- ================================================= -->
<!-- Le javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="assets/js/jquery.js"></script>
<!-- bootstrap -->
<!--
<script src="assets/js/bootstrap.min.js"></script>-->
<script src="http://majianhua.sinaapp.com/assets/js/bootstrap-transition.js"></script>
<script src="http://majianhua.sinaapp.com/assets/js/bootstrap-alert.js"></script>
<script src="http://majianhua.sinaapp.com/assets/js/bootstrap-modal.js"></script>
<script src="http://majianhua.sinaapp.com/assets/js/bootstrap-dropdown.js"></script>
<script src="http://majianhua.sinaapp.com/assets/js/bootstrap-scrollspy.js"></script>
<script src="http://majianhua.sinaapp.com/assets/js/bootstrap-tab.js"></script>
<script src="http://majianhua.sinaapp.com/assets/js/bootstrap-tooltip.js"></script>
<script src="http://majianhua.sinaapp.com/assets/js/bootstrap-popover.js"></script>
<script src="http://majianhua.sinaapp.com/assets/js/bootstrap-button.js"></script>
<script src="http://majianhua.sinaapp.com/assets/js/bootstrap-collapse.js"></script>
<script src="http://majianhua.sinaapp.com/assets/js/bootstrap-carousel.js"></script>
<script src="http://majianhua.sinaapp.com/assets/js/bootstrap-typeahead.js"></script>

<script>
    $("#mymodal").modal({show:false});
    $("#copyrightinfomodal").modal({show:false});

</script>

<script type="text/javascript" src="http://tajs.qq.com/stats?sId=24165168" charset="UTF-8"></script>




</body>
</html>